[Unit]
Description=Clipboard history "manager" for wayland
Documentation=https://github.com/sentriz/cliphist
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=exec
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "Hyprland:niri" ""
ExecStart=wl-paste --watch cliphist -max-items 64 store
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
