[Unit]
Description=An input method framework with extension support
Documentation=https://fcitx-im.org/wiki/Fcitx_5
# order startup after WM
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=exec
# Repurpose XDG Autostart filtering
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=fcitx5
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
