[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=exec
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "Hyprland:niri" ""
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target

