[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "Hyprland:niri" ""
ExecStart=/usr/bin/swaybg -m fill -i "%h/Pictures/wallpapers/butter-cat-dog-frog.jpg"
Restart=on-failure

[Install]
WantedBy=graphical-session.target
