* {
  font-family: ComicShannsMono Nerd Font Propo;
  font-size: 18px;
  color: #D3C6AA;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
}

tooltip {
  background: #272E33;
  border: 2px solid #D3C6AA;
}

/* Set workspace text color and padding */
#workspaces button {
  padding: 2px;
}

/* Sets background, padding, margins, and borders for (all) modules */
#workspaces,
#network,
#tray,
#idle_inhibitor,
#clock,
#window,
#wireplumber,
#bluetooth,
#backlight,
#battery {
  background: #1E2326;
  padding: 2px 10px;
}

/* Rounding only on right of module(s) */

#workspaces {
  border-radius: 20px;
}

/* Rounding only of left of module(s) */
#idle_inhibitor,
#tray {
  border-radius: 20px 8px 8px 20px;
  margin-right: 2px;
  padding-left: 12px;
}

#backlight {
  border-radius: 8px 0 0 8px;
  margin-left: 2px;
}

#network {
  border-radius: 0 8px 8px 0;
  margin-right: 2px;
}

#bluetooth {
  border-radius: 8px 0 0 8px;
  margin-left: 2px;
}

#battery {
  margin-left: 2px;
  border-radius: 8px 20px 20px 8px;
}

#wireplumber {
  border-radius: 0 20px 20px 0;
}

#clock {
  border-radius: 8px;
  margin-left: 2px;
  margin-right: 2px;
}

#custom-pad_in_right {
  border-radius: 0 8px 8px 0;
  margin-right: 2px;
}
